<nz-modal [(nzVisible)]="isVisible" nzTitle="Đổi mật khẩu" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm(validateForm.value)">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(validateForm.value)">
    <!--  Password-->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Mật khẩu mới</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input formControlName="password" type="password" placeholder="Enter your password" (ngModelChange)="validateConfirmPassword()" />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Vui lòng nhập mật khẩu!
          </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            Mật khẩu phải tối thiểu 8 kí tự!
          </ng-container>
          <ng-container *ngIf="control.hasError('pattern')">
            Vui lòng nhập bắt buộc có chữ hoa, chữ thường, số và kí tự đặc biệt!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>


    <!--  Confirm Password-->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Xác nhận lại</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="confirmErrorTpl">
        <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
        <ng-template #confirmErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Password is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
