<div nz-row class="login-component">
  <div nz-col nzSpan="8" class="login-panel">
  <!-- Login when not logged-->
    <div *ngIf="!isLoggedIn; else loggedPanel">
      <!--    Reactive Form-->
      <img src="https://microhealth.com/assets/images/illustrations/personal-user-illustration-@2x.png" class="avatar">
      <h1 nz-typography>Login</h1>
      <form (ngSubmit)="submitForm()" [formGroup]="validateForm" class="login-form" nz-form>

        <!--Email input-->
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!" nzHasFeedback>
            <nz-input-group nzPrefixIcon="mail">
              <input formControlName="email" nz-input placeholder="Email" type="email"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!--Password input-->
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!" nzHasFeedback>
            <nz-input-group nzPrefixIcon="lock">
              <input formControlName="password" nz-input placeholder="Password" type="password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- Action -->
        <div class="login-form-margin" nz-row>
          <div [nzSpan]="12" nz-col>
            <!--          <label formControlName="remember" nz-checkbox>-->
            <!--            <span>Remember me</span>-->
            <!--          </label>-->
          </div>
          <div [nzSpan]="12" nz-col>
            <a class="login-form-forgot" (click)="showModal()">Forgot password</a>
          </div>
        </div>
        <button [nzType]="'primary'" [disabled]="!validateForm.valid" class="login-form-button login-form-margin" nz-button>Log in</button>
        Or <a routerLink="../register"> register now! </a>
      </form>
    </div>

    <!-- Show this panel when logged-->
    <ng-template #loggedPanel>
      <h2>Success!</h2>
      <button nz-button nzType="primary" (click)="logout()" nzDanger>Logout</button>
    </ng-template>
  </div>
  <div nz-col nzSpan="16">
    <img class="cover-right" src="https://i.imgur.com/btFGI9t.jpg" alt="anh login">
  </div>
</div>

<app-reset-password [isVisible]="isVisible"></app-reset-password>
