<!--Top-->
<nz-layout class="top-zone" nz-row>
  <!--Videos Player-->
  <nz-content nz-col nzSpan="16">
    <video controls id="plyrID" src="{{ movie?.source }}">
      <source size="1080" src="{{ movie?.source }}"
              type="video/mp4">
      <a download href="{{ movie?.source }}">Download</a>
    </video>
  </nz-content>

  <!--Detail and Rating-->
  <nz-sider nz-col nzBreakpoint="lg" nzSpan="8" nzWidth="33%" class="sider-top">
    <nz-content>
      <nz-card nzTitle="Thông tin phim" class="thong-tin-phim">
        <p><strong>Năm: </strong>{{ movie?.year }}</p>
        <p><strong>Thể loại: </strong> <span *ngFor="let cat of listCategory">{{ cat?.title }}, </span>
        </p>
        <p><strong>Loại: </strong>{{ movie?.kind }}</p>
        <p><strong>Ngày tải lên: </strong>{{ movie?.dateUpload }}</p>
      </nz-card>
    </nz-content>
    <nz-content>
<!--      <nz-card nzTitle="Bình chọn cho phim" class="rating">-->
<!--        <div style="padding: 1em;">-->
<!--          <nz-rate [(ngModel)]="value" [nzTooltips]="tooltips"></nz-rate>-->
<!--          <span *ngIf="value" class="ant-rate-text">{{ value ? tooltips[value - 1] : '' }}</span>-->
<!--          <p><strong nz-typography>Bạn đã bình chọn: </strong>{{tooltips[value - 1]}}</p>-->
<!--        </div>-->
<!--      </nz-card>-->
    </nz-content>
  </nz-sider>
</nz-layout>

<!--Bottom-->
<nz-layout class="bottom-zone" nz-row>

  <!--Left-->
  <nz-content nz-col nzSpan="16" style="padding: 1em 0">
    <nz-content>
      <h1 nz-typography nzType="danger" style="margin-left: 0.5em">{{ movie?.title }}</h1>
      <nz-card class="noi-dung-phim" nzTitle="Nội dung phim">
        <p style="padding: 1em;">{{ movie?.description }}</p>
      </nz-card>
    </nz-content>
    <nz-content>
      <nz-card class="binh-luan" nzTitle="Bình luận về phim này">
        <app-comment [movieID]="movie?._id"></app-comment>
      </nz-card>
    </nz-content>
  </nz-content>

  <!--Right-->
  <nz-sider nz-col nzBreakpoint="lg" nzSpan="8" nzWidth="33%">
    <nz-card nzTitle="Phim liên quan" class="rating">
      <nz-list nzItemLayout="vertical">
        <nz-list-item *ngFor="let item of category?.movies" [routerLink]="['../../', category?.name, item?.slug]">
          <nz-list-item-meta>
            <nz-list-item-meta-title>
              <a>{{ item.title }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description>
              {{ item.description | slice:0:100 }}...
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <img width="50" alt="logo" src="{{ item.poster }}" />
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
    </nz-card>
  </nz-sider>
</nz-layout>


