{{ movieID }}
<nz-list *ngIf="commentList.length" [nzDataSource]="commentList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-comment [nzAuthor]="item.user">
      <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png"></nz-avatar>
      <nz-comment-content>
        <p>{{ item.comment }}</p>
      </nz-comment-content>
    </nz-comment>
  </ng-template>
</nz-list>
<nz-comment>
  <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png"></nz-avatar>
  <nz-comment-content>
    <nz-form-item>
      <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
        Add Comment
      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
