.layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

nz-footer {
  text-align: center;
}

.hi-admin {
  padding: 10px;
  display: flex;
  justify-content: center;
}

