<nz-modal [(nzVisible)]="isVisible" nzTitle="Đổi mật khẩu" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm(validateForm.value)">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(validateForm.value)">
    <!--  Password-->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
        <input nz-input formControlName="password" type="password" placeholder="Enter your password" (ngModelChange)="validateConfirmPassword()" />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please enter your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('minlength')">
            Password must be least 8 character long!
          </ng-container>
          <ng-container *ngIf="control.hasError('pattern')">
            Password must contain at least one number and both lower and uppercase letters and special characters!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>


    <!--  Confirm Password-->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="confirmErrorTpl">
        <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
        <ng-template #confirmErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password!
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            Password is inconsistent!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

