<mat-card class="movies">
  <mat-card-header class="movies-header">
    <mat-card-title>{{ category?.title }}</mat-card-title>
    <mat-card-subtitle>Category</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="movies" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
      <mat-card class="movie"
                *ngFor="let movie of category?.movies"
                [routerLink]="['/movie/', category?.name, movie?.slug]">
        <mat-card-header class="movie-header">
          <mat-card-title>{{ movie?.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ movie?.imageSource }}" alt="{{ movie?.title }}">
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>PRE</button>
    <button mat-button>NEXT</button>
  </mat-card-actions>
</mat-card>

