<button nz-button (click)="showCreate()" nzType="primary">Add</button>
<br />
<br />

<nz-table #adminmovie nzBordered [nzData]="listOfData">
  <thead>
  <tr nz-row>
    <th nz-col nzSpan="8">Tiêu đề</th>
    <th nz-col nzSpan="4">Poster</th>
    <th nz-col nzSpan="8">Slug</th>
    <th nz-col nzSpan="4">Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of adminmovie.data" class="editable-row" nz-row>
    <td nz-col nzSpan="8">{{ data.title }}</td>
    <td nz-col nzSpan="4">
      <img style="max-height: 100px;" src="{{ data.poster }}" alt="{{ data.title }}"></td>
    <td nz-col nzSpan="8">{{ data.slug }}</td>
    <td nz-col nzSpan="4">
      <a (click)="showEdit(data)">Edit</a> |
      <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data._id)">Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>


<app-edit-movie [movie]="itemToEdit" [isVisible]="isEdit" (isHide)="hideEdit($event)"></app-edit-movie>
<app-create-movie [isVisible]="isCreate" (isHide)="hideCreate($event)"></app-create-movie>

