<div nz-row class="register-component">
  <div nz-col nzSpan="8" class="register-panel">
    <h1 nz-typography>Register</h1>
    <h5 nz-typography>Welcome to TeamMovie, register an acount to using our services and watch movies.</h5>
    <br>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)" *ngIf="!authService.isAuthorized; else loggedPanel">
      <!--  Nickname-->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Nickname</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="nickname" placeholder="Some Nickname" />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your nickname!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>


      <!--  Email-->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" placeholder="async validate try to write anh4bi@gmail.com" type="email" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('email')">
              The input is not valid e-mail!
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              Please input your e-mail!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              This email has existed!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>


      <!--  Password-->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input formControlName="password" type="password" placeholder="Enter your password" (ngModelChange)="validateConfirmPassword()" />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please enter your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              Password must be least 8 character long!
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')">
              Password must contain at least one number and both lower and uppercase letters and special characters!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>


      <!--  Confirm Password-->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="confirmErrorTpl">
          <input nz-input type="password" formControlName="confirm" placeholder="confirm your password" />
          <ng-template #confirmErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please confirm your password!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Password is inconsistent!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <!-- Show this panel when logged-->
    <ng-template #loggedPanel>
      <h2>Success!</h2>
      <button nz-button nzType="primary" (click)="logout()" nzDanger>Logout</button>
    </ng-template>
  </div>
  <div nz-col nzSpan="16">
    <img class="cover-right" src="https://i.imgur.com/LCeoJK5.jpg" alt="anh login">
  </div>
</div>
